/*Estilo navegación*/
.fancyNav{
	background-color: #AAFF;
}
.fancyNav li{
	
	background: #AAFF;
	padding: 10px;
	float: left;
	list-style-type: none;
}

.fancyNav li:hover{
	background: #FFFF;
}
.fancyNav li:selection{
	background: #BBBB;
}