
body{
	background: #B1DFDE;
	font: normal .8em/1.5em Arial, Helvetica, sans-serif;
	width: auto;
	margin: 10px auto;
	color: #4A4A4A;
}

div{
	float: left;
  width: 100%;
	border-radius: 0.5em;
	border: red 1px solid;
}
img{
	border: green 1px solid;
}

/*Cabecera*/

#logo{
	float: left;
  width: 10%;
}
#logo img{
	padding: 0em 0em 0em 2em;
}

#banner{
	float: left;
  width: 70%;
  background: #60FFE9;
}

img.banner{
	padding: 0 0 0 35em;
	width: 10em;
	height: 7em;
	
}

img.logo{
	width: 7em;
	height: 7em;
}

#niveles{
	float: left;
  width: 19.5%;
}

#niveles a{
	float: right;
}

/*Menu y buscador*/
#navegador{
	background: #2B655D;
	color: #8EFFF1;
}

#menu{
	float: left;
  width: 65%;
}

#menu ul{
	 list-style-type: none;
   text-align: left;
}

#menu li{
	 display: inline;
   text-align: center;
   margin: 0 4em 0 0;
}

#buscador{
	float: left;
  width: 34%;
}
#buscador a{
	float: right;
}


/*Contenido*/
#contenido{
	float: left;
  width: 74%;
}
#colDer{
	float: left;
  width: 25%;
}
